<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
  <div class="home-box">
    <div class="home-card">
      <h1 class="home-card-header">Fast</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
        alt="running cheetah"
      />
      <p class="home-card-content">
        <b>Faster websites.</b>
        Optimize your site with prerendering and global delivery.
      </p>
    </div>
    <div class="home-card">
      <h1 class="home-card-header">Scaleable</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259527/sutirta-budiman-Jgiv1rSIpVM-unsplash_1_wfdngg.jpg"
        alt="zebras in yellow grass"
      />
      <p class="home-card-content">
        <b>High scale without high complexity.</b>
        Optimize your site with prerendering and global delivery.
      </p>
    </div>
    <div class="home-card">
      <h1 class="home-card-header">Secure</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585258948/keith-markilie-jBjQA3LU9Dc-unsplash_1_qkkijr.jpg"
        alt="random rhino"
      />
      <p class="home-card-content">
        <b>More secure infrastructure.</b>
        By design, JAMstack architectures offer fewer points of attack.
      </p>
    </div>
    <div class="home-card">
      <h1 class="home-card-header">Productive</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259747/harshil-gudka-pU-9BYqjhyo-unsplash_1_bslipb.jpg"
        alt="two giraffes"
      />
      <p class="home-card-content">
        <b>Improved developer experience.</b>
        Launch faster with more productive dev & deployment cycles
      </p>
    </div>
  </div>
</div>
