<div class="contact">
  <h2>We can't wait to hear from you!</h2>
  <div class="form-box">
    <form
      name="contact-form"
      class="contact-form"
      method="POST"
      data-netlify="true"
      action="/form-success"
    >
      <input type="hidden" name="form-name" value="contact-form" />
      <label> name: </label>
      <input type="text" name="name" class="input" />
      <label> email: </label>
      <input type="email" name="email" class="input" required />
      <label> message: </label>
      <textarea name="message" class="textarea" placeholder="message">
      </textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
